<div class="row">
  <div class="col-12">
    <div class="page-white">
      <app-spinner message='Loading' *ngIf="loading"></app-spinner>
      <form [formGroup]="form" *ngIf="!loading" (submit)="submitForm()" novalidate #editform="ngForm" [ngClass]="{'submitted': editform.submitted}">
        <div class="row">
          <div class="col-6">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" formControlName="name" >
            </div>
            <div class="form-group">
              <label for="attack">Attack:</label>&nbsp;<ngbd-rating-events formControlName="attack"></ngbd-rating-events>
            </div>
            <div class="form-group">
              <label for="defense">Defense:</label>&nbsp;<ngbd-rating-events formControlName="defense"></ngbd-rating-events>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label for="matches">Card Combinations</label>
                  <textarea class="form-control" formControlName="combines"></textarea>
                </div>

                <div class="col-6">
                    <div class="row">
                      <div class="col">
                        <button type="button" class="btn btn-sm btn-outline-info mt-4" (click)="openCombineModal()">Add cards</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button type="button" class="btn btn-sm btn-outline-info mt-2" (click)="removeCombineCards()">Remove cards</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        

            <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Card Type: </legend>
                  <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="cardtype" formControlName="cardtype" id="cardtype1" value="single">
                      <label class="form-check-label" for="cardtype1">
                        Single
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="cardtype" formControlName="cardtype" id="cardtype2" value="battle">
                      <label class="form-check-label" for="cardtype2">
                        Battle
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="cardtype" formControlName="cardtype" id="cardtype3" value="group">
                      <label class="form-check-label" for="cardtype3">
                        Group
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="cardtype" formControlName="cardtype" id="cardtype4" value="comic">
                      <label class="form-check-label" for="cardtype4">
                        Comic
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cardtype" id="cardtype5" value="equipment">
                        <label class="form-check-label" for="cardtype5">
                            Equipment
                        </label>
                      </div>
                      <p *ngIf="form.get('cardtype').hasError('required') && editform.submitted">* Card Type is required</p>
                  </div>
                </div>
              </fieldset>

            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Alignment: </legend>
                <div class="col-sm-10">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="alignment" formControlName="alignment" id="exampleRadios1" value="hero">
                    <label class="form-check-label" for="exampleRadios1">
                      Hero
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="alignment" formControlName="alignment" id="exampleRadios2" value="villain">
                    <label class="form-check-label" for="exampleRadios2">
                      Villain
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="alignment" formControlName="alignment" id="exampleRadios3" value="neutral">
                    <label class="form-check-label" for="exampleRadios3">
                      Neutral
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="alignment" formControlName="alignment" id="exampleRadios4" value="N/A">
                    <label class="form-check-label" for="exampleRadios4">
                      N/A
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Group Affiliations: </legend>
                <div class="col-sm-4">
                  <div class="form-check form-check-inline" *ngFor="let group of affiliationsArray; index as i">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="group.selected" [ngModelOptions]="{standalone: true}" [value]="group.name" [checked]="group.selected" (blur)="setGroupAffiliations()">
                    <label class="form-check-label" for="{{group.name}}">{{group.name}}</label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" [(ngModel)]="extraGroup" [ngModelOptions]="{standalone: true}" placeholder="Add group name">
                </div>
                <div class="col-sm-2 pt-0">
                  <button type="button" class="btn btn-outline-info" (click)="addGroup(extraGroup)">&#10010;</button> </div>
              </div>
            </fieldset>

          </div>
          <div class="col-6">
              <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                        <label for="picture">Card Image Front:</label>
                        <input type="text" class="form-control" formControlName="imagefront">
                        <img class="mt-3" *ngIf="this.pageMode === 'edit-card'" [src]="'http://thepixelhand.ca/projects/marvelcards/db-images/marvel-cards/'+form.value.imagefront" alt=""><br>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                        <label for="picture">Card Image Back:</label>
                        <input type="text" class="form-control" formControlName="imageback">
                        <img class="mt-3" *ngIf="this.pageMode === 'edit-card'" [src]="'http://thepixelhand.ca/projects/marvelcards/db-images/marvel-cards/'+form.value.imageback" alt=""><br>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a class="btn btn-primary">Save</a>
            <a class="btn btn-primary ml-1" (click)="seeform()">see form</a>
            <button type="submit" class="btn btn-primary ml-1">submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
