.header-logo {
    width: 50px;    
}

.navbar-brand {
    padding-top:0;
}

.navbar-light {
    background-color: #ED1D24;
}

.nav-item:hover, .nav-item.active {
    background-color: white;

    .nav-link {
        color: rgb(0, 83, 207) !important;
    }
}

.nav-link {
    color: white !important;
}



.navbar-collapse {
    justify-content: flex-end;
}

header {
    border-bottom: 4px solid white;
    margin-bottom: 20px;
}