<div class="row">
  <div class="col-12">
    <div class="page-white">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary" routerLink="../../edit-card/{{card$._id}}">Edit</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>{{card$.name}} </h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>Attack</th>
                        <th>Defense</th>
                    </tr>
                </thead>
                    <tr>
                        <td><h5>{{card$.attack}}</h5></td>
                        <td><h5>{{card$.defense}}</h5></td>
                    </tr>
                </table>

                <h4>Card Matches: {{card$.combines}}</h4>
                <h4>Card Type: {{card$.cardtype}}</h4>
                <h4>Alignment: {{card$.alignment}}</h4>
                <h4>Group Affiliations: {{card$.affiliation}}</h4>


            </div>
            <div class="col-6">
                <img src="https://via.placeholder.com/250x300/0000FF" alt=""><br>
                {{card$.imagefront}} 
                
            </div>
        </div>
    </div>
  </div>
</div>
