<div class="container-fluid">
  <div class="row">
    <div class="col-12 card-game">
      <app-spinner message='Loading' *ngIf="loading" [overContent]="true"></app-spinner>
      <div class="card-game_container" *ngIf="!loading">

        <div class="row card-game_computer-block">
            <div class="col-3">
                <div class="card">
                  <div class="card">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Energy: {{computerEnergy}}</li>
                      <li class="list-group-item">Double Cards: 4</li>
                    </ul>
                  </div>
                </div>
                <div class="card">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Computer Cards left {{computerDeck.length}}</h5>
                      <div class="cardTest"></div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-9">
                <div class="row" style="min-height: 100%;">
                  <div class="col-3">
                    <div class="card">
                      Attack power: {{computerHandPowers.attack}} <br>
                      Defense Power: {{computerHandPowers.defense}}
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="card-game_card-hand">
                      <ng-template [ngIf]="computerCardsHand.length > 0">
    
                        <div *ngFor="let card of computerCardsHand" class="card-game_card-hand_card">
                          <img src="http://thepixelhand.ca/projects/marvelcards/db-images/marvel-cards/{{card.imagefront}}">
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div class="row card-game_player-block">
          <div class="col-3">
            <div class="card">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Energy: {{playerEnergy}}</li>
                  <li class="list-group-item">Double Cards: {{playerDoubleCards}} <button (click)="playCard('double')" *ngIf="playerHand && playerDoubleCards > 0" [disabled]="playerDoubled" class="btn btn-primary">Add extra card</button></li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Player Cards left {{playerDeck.length}}</h5>
                  <div class="cardTest"></div>
                  <ng-template [ngIf]="currentRoundTurn === 'player'">
                      <button (click)="playCard()" [disabled]="playerHand" *ngIf="playerDeck.length > 0" class="btn btn-primary mr-2">Play Card</button>
                      <button (click)="endHand('player')" class="btn btn-primary">end turn</button>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>

          <div class="col-9">
            <div class="row" style="min-height: 100%;">
              <div class="col-3">
                <div class="card">
                  Attack power: {{playerHandPowers.attack}} <br>
                  Defense Power: {{playerHandPowers.defense}}
                </div>
              </div>
              <div class="col-9">
                <div class="card-game_card-hand">
                  <ng-template [ngIf]="playerCardsHand.length > 0">

                    <div *ngFor="let card of playerCardsHand" class="card-game_card-hand_card">
                      <img src="http://thepixelhand.ca/projects/marvelcards/db-images/marvel-cards/{{card.imagefront}}">
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>





    </div>
  </div>

</div>
