<nav>
    <ul class="pagination appPagination">
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link"  (click)="moveToPage(currentPage-1)">Previous</a>
      </li>
      <li class="page-item" [ngClass]="{'active': currentPage === page}" *ngFor="let page of paginationSteps">
        <a class="page-link" (click)="moveToPage(page)" >{{page}}</a>
      </li>
      <li class="page-item" *ngIf="currentPage < this.totalPages">
        <a class="page-link" (click)="moveToPage(currentPage+1)">Next</a>
      </li>
    </ul>
</nav>
