:host {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5em;
    z-index: 1200;
    min-width: 300px;
  }

  .toast-comics {
    border: 2px solid black;
    background-color: white;
    color: black;
  }