<div class="container-fluid">
    <div class="row">
        <div class="col-12 card-manager">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['card-list']" routerLinkActive="active">Card List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"[routerLink]="['add-card']" routerLinkActive="active">Add Card</a>
                </li>
              </ul>
        </div>
    </div>
    <router-outlet></router-outlet>

</div>
