/* You can add global styles to this file, and also import other style files */
body {
    background: url("assets/images/polkas2.png");
    font-family: 'Jost', sans-serif !important;
}

.page-white {
    background-color: white;
    padding: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

// Form Validation

form.submitted {
    .form-control.ng-touched.ng-invalid {
       border-color: #dc3545;
    }
}

.hasError {
    color: red;
}
